<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiaperShopper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1FADD681C477491002D5F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1FADD7C1C477492002D5F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1FADD871C477492002D5F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
